version: "2"
services:

  bitsendd:
    image: dalijolijo/bitsendd
    expose:
      - "8800"
    ports:
      - "8886:8886"
    volumes:
      - ./data/bitsendd:/data
    command: -rpcuser=electrum -rpcpassword=electrum

  electrumx:
    image: dalijolijo/electrumx
    ports:
      - "50002:50002"
    volumes:
      - ./data/electrumx:/data
    environment:
      - DAEMON_URL=http://electrum:electrum@bitsendd:8800
      - COIN=Bitsend
      - RPC_HOST=127.0.0.1
      - MAX_SESSIONS=100000 
